.App {
  text-align: center;
  width: 350px;
  height: 600px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.frontPageLogo {
  width: 80%;
}

.frontPageButton {
  width: 90%;
  margin-top: 20px;
  box-shadow: 0 2px 0 rgb(0 0 0 / 20%);
}

.frontPageBottom {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
  gap: 5px;
  color: #eee;
}

.frontPageBottom:not(.noHover):hover, .link:hover {
  cursor: pointer;
  color: gray;
}

h2 {
  font-size: 40px;
  margin-bottom: 5px;
  color: rgb(200, 200, 200);
}

.h4 {
  color: rgb(46, 46, 46);
  padding-bottom: 50px;
}

a:visited {
  color: blue;
}

header {
  width: 100%;
  height: 80px;
  /* background-color: #f9f9f9; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.headerLogo {
  height: 40px;
  margin-left: 20px;
}

.dropdown {
  margin-right: 20px;
}

.content {
  text-align: center;
  width: 350px;
  height: 520px;
  overflow-y: auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mnemonic {
  color: #faad14;
  background: #fffbe6;
  border: 1px solid #ffe58f;
  padding: 5px;
  text-align: justify;
  width: 310px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.seedPhraseContainer {
  width: 310px;
  min-height: 160px;
  padding: 5px;
  margin-top: 30px;
}

.walletName {
  font-weight: bold;
  margin-bottom: 5px;
}

.logoutButton {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  right: 20px;
  top: 5px;
  border-radius: 100px;
}

.logoutButton:hover {
  background-color: rgba(0, 0, 0, 0.036);
  cursor: pointer;
}

.walletView {
  width: 350px;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}

.sendRow {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.nftImage {
  margin-bottom: 10px;
  height: 240px;
  width: 240px;
  object-fit: cover;
  border-radius: 10px;
}


/* transactions */

.transaction-item {
  margin: 5px 0;
  padding: 4px 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color .3s ease;
}

.transaction-item:hover {
  background-color: #222;
  border-color: #ccc;
}

.transaction-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-info small {
  font-size: 11px;
}

.clickEffect {
  transition: all .3s ease;
  cursor: pointer;
}

.clickEffect:active {
  transform: scale(.9);
}