@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #24272a;
  color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-divider {
  margin-bottom: 2px !important;
}

.ant-tabs-nav-wrap {
  justify-content: center !important;
}

.ant-select-item-option-selected {
  color: #24272a !important;
}

.ant-notification-notice-message {
  color: #eee !important;
}

.password {
    width: 310px;
    padding: 10px;
    margin-block: 5px;
}